@import url('https://fonts.googleapis.com/css2?family=Prata&family=Quicksand:wght@600&display=swap');

$color-background: #F8F8F8;
$color-black: #141B22;
$color-primary: #36485E;
$color-secondary: #FFD702;

$breakpoint-md: 768px;

$font-primary: 'Prata', serif;
$font-secondary: 'Quicksand', sans-serif;

.h2 {
  color: $color-primary;
  font-family: $font-secondary;
  font-size: 10px;
  text-transform: uppercase;
}

.h3 {
  color: $color-primary;
  font-family: $font-primary;
}

p {
  color: $color-primary;
  font-family: $font-primary;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 30px;
}